/*Fontes */ 

@font-face {
    font-family: 'PoiretOne'; /*Google Fonts*/ 
    src: url(/fonts/PoiretOne-Regular.ttf); 
}
@font-face{
    font-family: 'Roboto'; /*Google Fonts*/ 
    src: url(/fonts/Roboto-Regular.ttf);
}

/*Configurações gerais */ 
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/fundo_triangulos.png);
    background-size: auto;
}
a{
    text-decoration: none;
    color:  white;
}

header {
    width: 100%;
    height: 60vh; 
}
.container {
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.secao-cabecalho {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 4em;
}
.secao-cabecalho h1 {
    line-height: 0mm;
    opacity: 0.5;
    font-size: 7em;
    font-family: 'RobotoBlack';
    color: white;  
}
.secao-cabecalho h2{ 
    margin-left: 4em;  /*Avanço em relação ao h1*/   
    font-size: 4em;
    font-family: 'Roboto';
}
/*======================fim das configurações gerais=====================*/ 
/*====================================Nome================================================*/
.nome-principal{
    top: 30%;
    position: absolute;
    width: 100%;
    height: 70%;
    text-align: center;
    z-index: 1; 
    margin-top: 10em;
    margin-bottom: 10em;   
}
.nome-principal h1{ /*Julie Santiago*/ 
    font-family: 'PoiretOne', sans-serif;
    font-size: 8em;
    font-weight: bold;
    color: white; 
    user-select: none; /*impede a seleção do objeto na página*/ 
}
.nome-principal h4 { /*Desenvolvedora web*/ 
    font-family: 'RobotoBlack', sans-serif; 
    font-size: 2em;
}


/*==================================Menu================================*/ 
.top-nav {
    top: -100vh;
    display: flex;
    z-index: 100;/*Garantir sobreposição em relação ao nome principal*/ 
    height: 15%; 
    width: 100%; 
    position: absolute;
}
.top-nav.open{
    position: fixed;
    transition: ease-in 0.6s;
    width: 100%;
    top: 0;
    background-color: rgb(22, 22, 22);  
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    align-content: space-around;
}

.nav-link {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 2em;
    font-family: 'PoiretOne';
    font-weight: bold;
    
}

.nav-link:hover, 
.nav-link:focus {
    background: linear-gradient(to top, rgb(201, 18, 176), rgb(255, 136, 0), yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*==========================Menu hamburger=========================*/ 

.menu-hamburger {
    z-index: 10000;
    margin-top: 2%; 
    left: 90%;
    position: fixed; 
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.barra {
    width: 50px;
    height: 6px;
    background-image: linear-gradient(to right, rgb(201, 18, 176), rgb(255, 136, 0), yellow);
    transition: ease-in 0.3s;
    border-radius: 3px;
}
 .menu-hamburger .barra::before, 
 .menu-hamburger .barra::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 6px;
    background-image: linear-gradient(to right, rgb(201, 18, 176), rgb(255, 136, 0), yellow);
    border-radius: 3px;
    transition: all 0.5 ease-in;
}
.barra::before{
    transform: translateY(-15px); /*Barra acima*/ 
}
.barra::after{
    transform: translateY(15px); /*Barra abaixo*/ 
}

.menu-hamburger.open .barra {
    transform: translateX(-100em);
}

/*==========================Sobre=============================*/
.sobre {
    margin-top: 20em;
    padding: 1em;
}

.sobre-detalhes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imagem-perfil {
    margin-right: 4em;
    user-select: none; /*impede a seleção do objeto na página*/ 
}
.sobre-detalhes p{ /*Alinhar com a imagem!!*/ 
    padding-top: 2%;
    height: 100%;
    color: white;
    font-family: 'Roboto';
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
}
.nav-list-rede{
    padding-top: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.redes-sociais {
    justify-content: space-around;
}
.redes-sociais .instagram img{
    margin-right: 3em;
    transition: ease-in 0.6s; /*Para ter efeito de transição na 'volta' do hover*/ 
}
.redes-sociais .instagram img:hover {
    transform: rotate(180deg);
    transition: ease-in 0.6s;
}
.redes-sociais .github img{
    margin-right: 3em;
    transition: ease-in 0.6s; /*Para ter efeito de transição na 'volta' do hover*/ 
}
.redes-sociais .github img:hover {
    transform: rotate(180deg);
    transition: ease-in 0.6s;
}
.redes-sociais .linkedin img{
    transition: ease-in 0.6s; /*Para ter efeito de transição na 'volta' do hover*/ 
}
.redes-sociais .linkedin img:hover {
    transform: rotate(180deg);
    transition: ease-in 0.6s;
}
/*=====================Habilidades========================*/
.habilidades  {
    margin-top: 10em;
    margin-bottom: 20em;
}
.habilidades .itens {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}
.skill h1{
    font-family: 'Roboto';
    font-size: 2em;
    color: white;
    padding-bottom: 1em;
}
.skill p{
    margin-left: 1em;
    margin-right: 1em;
    font: 'Roboto';
    font-size: 1.5em;
    color: white;
    opacity: 0.8;
}
/*======================================Portfolio==================================*/
.portfolio-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item .portfolio-description h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 1em;
}
.portfolio-item .portfolio-description p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 1em;
    opacity: 0.7;
}
.portfolio-img{
    width: 100%;
    height: 100%;
    margin: 0.5em;
}
/*===============================Formulário de contato========================*/
.contato {
    display: flex;
}
form {
    width: 80%;
    margin: 0 auto;
}
form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    opacity: 0.8;
    margin-bottom: 2em;
    margin-top: 2em
}
input, textarea {
    width: 100%;
    padding: 1em;
    background-color: white;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
}
#enviar{
    padding: 1em;
    background-image: linear-gradient(to bottom,  rgb(255, 136, 0), yellow);
    color: white;
    width: initial; 
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 1em;
    cursor: pointer;
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: ease-in 0.2s;
}
#enviar:hover, 
#enviar:focus{
    transition: 0.2s;
    transform: scale(1.2); /*Aumenta tamanho sem alterar espaçamento ao redor*/ 
}
/*===================================Rodapé ========================================*/
footer .rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;
    background-color: transparent;
}
.rodape {
    background-color: rgb(15, 15, 15);
}
.rodape p{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin-top: 1em;
}

/*##################################### Tela  smartphone #################################*/ 
@media screen and (max-width: 360px){
/*------------------------Configurações gerais-------------------------------------------*/ 
    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .secao-cabecalho {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .secao-cabecalho h1 {
        line-height: 0mm;
        opacity: 0.5;
        font-size: 4em;
        font-family: 'RobotoBlack';
        color: white;  
    }
    .secao-cabecalho h2{ 
        margin-left: 2em;  /*Avanço em relação ao h1*/   
        font-size: 1.3em;
        font-family: 'Roboto';
    }

 /*-------------------------------------Menu------------------------------------------*/ 
 .top-nav.open {
    position: fixed;
    margin-bottom: 1em;
    background: transparent;
    padding-top: 1em;
}
 .nav-list{
    margin-top: 0;
    list-style: none;
    width: 100%;
    height: 150px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.nav-link {
    background-color: rgb(236, 6, 148);
    border-radius: 15px;
}

.nav-link a{
    font-size: 1.5em;
    font-family: 'PoiretOne';
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1.5; 
    margin-bottom: 1.5;
}
.nav-link a:hover{
    border-radius: 15px;
}
/*-----------------------------------Menu hamburger--------------------------------*/ 
    .menu-hamburger {
        position: fixed;
        left: 80%; 
        z-index: 10000;
        margin-top: 0;
        padding-top: 2em; 
        justify-content: center;
        align-items: center;
        display: flex;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .barra {
        width: 20px;
        height: 3px;
        background-image: linear-gradient(to right, rgb(201, 18, 176), rgb(255, 136, 0), yellow);
        border-radius: 3px;
    }
     .menu-hamburger .barra::before, 
     .menu-hamburger .barra::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background-image: linear-gradient(to right, rgb(201, 18, 176), rgb(255, 136, 0), yellow);
        border-radius: 3px; 
    }
    .barra::before{
        transform: translateY(-10px); /*Barra acima*/ 
    }
    .barra::after{
        transform: translateY(10px); /*Barra abaixo*/ 
    }
    .menu-hamburger.open .barra{
        transform: rotate(360deg)
    }
    
/*-----------------------------------------Nome principal----------------------------------*/ 
.nome-principal{
    width: 100%;
    height: 70%;
    text-align: center;
    z-index: 1; 
    margin-top: 2em;
    margin-bottom: 1em;   
}
.nome-principal h1{ /*Julie Santiago*/ 
    font-family: 'PoiretOne', sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: white; 
    user-select: none; /*impede a seleção do objeto na página*/ 
}
.nome-principal h4 { /*Desenvolvedora web*/ 
    font-family: 'RobotoBlack', sans-serif; 
    font-size: 1.3em;
}
/*----------------------------------Sobre-----------------------------------------*/
.sobre {
    margin-top: 2em;
    padding: 1em;
}
.sobre-detalhes {
    display: flex;
    flex-direction: column; /*Para imagem ficar ao lado do texto*/
    justify-content: space-around;
}
.imagem-perfil {
    border-radius: 3px;
    width: auto;
    height: auto;
    margin: 0 auto; /*Para zerar margem setada na tela maior*/ 
    user-select: none; /*impede a seleção do objeto na página*/ 
}
.sobre-detalhes p{ 
    display: flex;
    padding-top: 2%;
    height: 100%;
    color: white;
    font-family: 'Roboto';
    font-size: 1em;
    text-align: center;
    opacity: 0.8;
}
.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*------------------------------------Habilidades----------------------------*/
.habilidades  {
    margin-top: 6em;
    margin-bottom: 5em;
} 

.habilidades .itens {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}
.skill h1{
    font-family: 'Roboto';
    font-size: 1em;
    color: white;
    padding-bottom: 0.5em;
    padding-top: 0.6em;
}
.skill p{
    font-family: 'Roboto';
    font-size: 0.9em;
    color: white;
    opacity: 0.8;
    margin-bottom: 1em;
}
/*----------------------------------------Portfolio------------------------------*/
.portfolio .container {
    position: relative;
    max-width: 290px;
}
.portfolio-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}
.portfolio-img img{
   width: 100%;
   height: 100%;
   padding-bottom: 1em;
}
.portfolio-item .portfolio-description h1{
    font-family: 'Roboto';
    font-size: 1em;
    padding-bottom: 1em;
}
.portfolio-item .portfolio-description p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 0.9em;
    padding-bottom: 2em;
}
/*------------------------------------Formulário de contato------------------------*/ 
.contato .container{
    max-width: 300px;
}
.form {
    width: 100%;
    height: 100%;
}
/*------------------------------------------Rodapé--------------------------------*/
.rodape p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}





}/*Fim configuração tela max 360px*/ 